<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Acerca de nosotros</h1>
        <hr class="star-light">

        <!-- ========== IMAGE START ========== -->
        <img src="/img/cafe.png" alt="Vilo Cafe" style="max-width: 250px; height: auto; border-radius: 10px; margin-bottom: 25px;">
        <!-- ========== IMAGE END ========== -->

        <!-- ========== TEXT START ========== -->
        <h4>Pastelería Artesanal</h4><br><br>
          🐶 Pet Friendly <br>🧋Take Away<br><br> ⏰De lunes a viernes de 9:30 a 20 <br>Sábados de 14 a 20<br> Domingos de 10 a 20<br>Jueves cerrado </p>
        <!-- ========== TEXT END ========== -->

      </div>
    </div>
  </div>
</section>
