<!-- jQuery Version 1.11.0 -->
<script src="{{ " js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" }}"></script>
<script src="{{ " js/classie.js" }}"></script>
<script src="{{ " js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ " js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ " js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ " js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ " js/freelancer.js" }}"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!-- Custom Footer Map Script -->
<script>
  // Wait for the page to be fully loaded before initializing the map
  window.onload = function() {
    // Initialize the map and set its view to our coordinates and a zoom level
    var map = L.map('footer-map').setView([-34.6185, -58.3752], 16);

    // Add the OpenStreetMap tiles to the map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add a marker to the map at our coordinates
    L.marker([-34.6173432, -58.3748382]).addTo(map)
      .bindPopup('Vilo Cafe<br>Avenida Independencia 624')
      .openPopup();
  };
</script>
